/* Neighbourly font-face */

@font-face {
  font-family: "Montserrat-Light";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Montserrat-Light"), url("/assets/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Montserrat"), url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Montserrat-Bold"), url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
}
