$inputBorderWidth: 1px;
$inputBorderRadius: 7px;
$inputBorderColour: $input-border-light;
$inputBorderColourError: $input-border-error-dark;
$inputBorderColourValid: $input-border-valid-dark;
$inputFillColour: $input-border-light;
$inputFillColourDisabled: $input-border-light;

$checkboxRadioBorderColour: $input-border-valid-dark;
$checkboxRadioCheckedColour: $input-border-valid-dark;

$button-loading-radius: 14px;
