// Brand colours

// Fill colors
$brandPrimary: #0376da;
$brandGrey: #1d1d1d;
$dividerGrey: #ededed;
$yellowMid: #fff374;
$yellowLight: #fff9b9;
$brandWhite: #ffffff;
$brandBlack: #000000;
$uiGrey: #cccccc;
$uiDarkGrey: #3d434c;
// Warning UI colours
$successDark: #428542;
$successLight: #95e795;
$infoDark: #1f687e;
$infoLight: #9bdff4;
$dangerDark: #d9534f;
$dangerLight: #f5c9c8;
$dangerBgService: rgba(0, 0, 0, 0.2);

// Default button
$brandPrimaryActive: #025ba8;
$brandPrimaryBg20pc: #0376da80;
// $brandPrimaryBg20pc: #0376da;

// Service colours
$volunteeringPrimary: #84479d;
$volunteeringActive: #66377a;

$fundraisingPrimary: #f06730;
$fundraisingActive: #dd4b10;

$donationsPrimary: #199987;
$donationsActive: #126d60;

// Box colours
$boxShadow: #b3a6a6;

$lozengeGreenDark: $successDark;
$lozengeGreenLight: $successLight;

$lozengeBlueDark: #0376d9;
$lozengeBlueLight: $infoLight;
