// // Form variables

$inputBorderWidth: 1px;
$inputBorderRadius: 7px;
$inputBorderColour: $uiGrey;
$inputBorderColourError: $dangerDark;
$inputBorderColourValid: $successDark;
$inputFillColour: $brandPrimary;
$inputFillColourDisabled: $uiGrey;

$checkboxRadioBorderColour: $successDark;
$checkboxRadioCheckedColour: $successDark;
