.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.horizontal {
    display: flex;
  }
  &.centered {
    justify-content: center;
  }
  &-item {
    margin: 0;
    padding: 0;
  }
  &-link {
    text-decoration: underline;
  }
}
