@import '@/assets/styles/ui/_lists';
@import '@/assets/styles/ui/_dlists';
@import '@/assets/styles/ui/_spacing';

.sr-only {
  display: inline-block;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 0;
}
